@{
}

@model BooksViewModel

<h1> Bookstore </h1>

@foreach (Books b in Model.Books)
{
    <h3>@b.Title</h3>

    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.ISBN</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>PageCount: @b.PageCount</li>
        <li>Price: $@b.Price</li>
    </ul>

    <br />
}

<div page-blah="@Model.PageInfo" page-action="Index"></div>
